<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="CompanyID" value="elatmanv5"/>
    <add key="User_ID" value="qauser"/>
    <add key="Password" value="mscqa123"/>
    <add key="Url" value=""/>
    <add key="User_auth_id" value="alexb"/>
  </appSettings>
</configuration>